:root {
    --works-btn-color1:#1c3e53;
    --works-btn-color2:#51b1f2;
    --works-btn-color3:#1c3e53;

    --works-text-color1: #1c3e53;
    --works-text-color2: #8f8fa3;
    --works-card: #2a2c69;
    --works-card-border: #2a2c69;
    --works-icon: #4595ca;
    --works-text1: #e1e4f3;
    --works-git-bg: #51b1f2;
    --works-live-bg: #51b2f200;
    --works-border: #51b1f2;
    --works-text2: #4595ca;
    --works-text3:#000000;
}

[data-theme='dark'] {
    --works-btn-color1:#51b1f2;
    --works-btn-color2:#1c3e53;
    --works-btn-color3:#1c3e53;


    --works-git-bg: #51b2f200;
    --works-live-bg: #51b1f2;

    --works-text-color1: #51b1f2;
    --works-text-color2: #8f8fa3;
    --works-card-border: #2a2c69;
    --works-card: #2a2c69;
    --works-icon: #4595ca;
    --works-text1: #e1e4f3;
    --works-border: #51b1f2;
    --works-text2: #4595ca;
    --works-text3:#e1e4f3;
}


.works-section {
    padding-top: 100px;
    background-color: var(--nav-background);
}

.works-heading {
    text-align: center;
    margin-bottom: 30px;
}

.works-heading h5 {
    font-size: 15px;
    color: var(--works-text-color2);
}

.works-heading h2 {
    font-size: 30px;
    color: var(--works-text-color1);
}

.work-card-container{
    display: flex;
    justify-content: center;
}

.work-card-section{
    display: grid;
    gap: 20px;

    grid-template-columns: 1fr 1fr 1fr; 
    /* padding: 0 15%; */
}

.work-card{
    padding: 30px;
    background-color: var(--works-card);
    border-radius: 20px;
    border:1px solid var(--works-card-border);
    color: var(--works-text1);
    transition: 0.5s all;
    width: 400px;
}

@media (max-width:1400px){
    .work-card-section{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:950px){
    .work-card-section{
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px){
    .work-card{
        width: 350px;
    }
}

.work-card img{
    width: 100%;
    border-radius: 20px;
}

.work-card p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 40px;
}

.work-card:hover{
    color: var(--works-text3);
    background: none;
}

.work-card:hover .live-demo-style{
    color: var(--works-btn-color3);
    border: 1px solid var(--works-btn-color3);
}

.work-card-link{
    margin-top: 20px;
    margin-bottom: 20px;
}

.github-style{
    background-color: var(--works-git-bg);
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    color: var(--works-btn-color1);
    border: 1px solid var(--works-border);
    transition: 0.3s;
}

.github-style:hover{
    padding: 10px 25px;
}

.live-demo-style:hover{
    padding: 10px 25px;
}

.live-demo-style{
    border-radius: 5px;
    transition: 0.3s;

    border: 1px solid var(--works-border);
    color: var( --works-btn-color2);
    background-color: var(--works-live-bg);
    padding: 10px 20px;
}